
<div class="form-paddings">

  <%= simple_form_for (@track) do |f| %>
    <%= f.input :name %>
    <%= f.association :category, collection: @categories %>
    <%= f.input :artist %>
    <%= f.input :playable_at %>
    <%= f.input :audio, as: :attachinary %>
    <%= f.submit "Go!!" %>
  <% end %>

</div>



<script>
  $(document).ready(function() {
    $('.attachinary-input').attachinary();
  });
</script>
