



<div class="tracks-index-container" style="background: linear-gradient(190deg, <%= @colors[:first] %>, <%= @colors[:second] %>);">


  <div class="tracks-index-header">
    <div class="tr-index-text">GEM OF THE DAY</div>
  </div>


  <div class="tracks-index-gem">
    <div class="tii-text"><%= @track.name %></div>
    <div class="separator"></div>
    <div class="tii-text"><%= @track.artist %></div>
    <div class="separator"></div>
    <div class="tii-text"><%= @track.playable_at %></div>
  </div>

  <div class="tracks-index-header-all">
    <div class="tr-index-text">ALL GEMS</div>
  </div>

   <% @tracks.each do |track| %>

    <div class="tracks-index-item">

      <div class="flex-width" style="width: 70%;">
        <% if track.playable_at == Date.today %>
          <i class="fa fa-diamond diamond-icon-index" aria-hidden="true"></i>
        <% end %>


        <div class="tii-text"><%= track.name %></div>
        <div class="separator"></div>
        <div class="tii-text"><%= track.artist %></div>
        <div class="separator"></div>
        <div class="tii-text"><%= "#{track.playable_at}" %></div>
     </div>


      <div class="flex-width" style="width: 30%;">
        <%= link_to "edit track", edit_track_path(track), class: "admin-index-button" %>
      </div>

    </div>

    <div class="horizontal-separator"></div>

   <% end %>

  <div class="tracks-index-item">
    <%= link_to "new track", new_track_path, class: "admin-index-button" %>
  </div>

</div>
