
<div class="form-paddings" style="font-family: 'Circular-Book'";>

  <div class="form-header" style="color: <%= rand_font_color %>;">INSCRIPTION</div>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>


        <div class="form-flex-container">
          <div class="form-flex-icon"><i class="fa fa-headphones" aria-hidden="true"></i></div>
          <%= f.input :email, label: false, autofocus: true, placeholder: 'email' %>
        </div>

        <div class="form-flex-container">
          <div class="form-flex-icon"><i class="fa fa-headphones" aria-hidden="true"></i></div>
          <%= f.input :password, label: false, placeholder: 'password' %>
        </div>

         <div class="form-flex-container">
          <div class="form-flex-icon"><i class="fa fa-headphones" aria-hidden="true"></i></div>
          <%= f.input :password_confirmation, label: false, placeholder: 'password confirmation' %>
        </div>


        <%= f.submit "inscription", class: "full-submit-button" %>

    <% end %>

    <%= render "devise/shared/links" %>


</div>
