


<div id="home-background" style="background: linear-gradient(190deg, <%= @colors[:first] %>, <%= @colors[:second] %>);">
    <div id="cover-art-small" class="test-image" style="justify-content: center;">


        <div class="cas-body current-track" style="letter-spacing: 4px;"><%= "TODAY - #{(Date.today.strftime('%d %B')).upcase}" %></div>


        <div class="margin-on-today-gem">

          <div class="flex-width-home">
            <div class="tii-text text-medium lighter-track"><%= @track.artist.upcase %></div>
          </div>
          <div class="flex-width-home">
            <div class="tii-text text-medium lighter-track"><%= @track.name %></div>
          </div>
          <div class="flex-width-home">
            <div class="tii-text tii-head"><%= @track.category.name.upcase %></div>
            <div class="tii-text"><%= @track.year %></div>
          </div>


        </div>



        <%= link_to track_path(@track) do %>
            <div class="home-signin-button-bis">
              <div>PLAY</div>
              <i class="fa fa-headphones" aria-hidden="true"></i>
            </div>
        <% end %>

        <% if user_signed_in? %>
        <% else%>

          <div class="buttons-fixed-home">
             <%= link_to new_user_registration_path do %>
              <div class="home-signin-button-bis-log">
                <i class="fa fa-user-o" aria-hidden="true"></i>
                <div>SIGNUP</div>
              </div>
            <% end %>

            <%= link_to new_user_session_path do %>
              <div class="home-signin-button-bis-log">
                <div>SIGNIN</div>
                <i class="fa fa-user" aria-hidden="true"></i>
              </div>
            <% end %>

          </div>


        <% end %>





        <% if user_signed_in? %>
        <div class="buttons-fixed-home">
          <%= link_to week_path do %>
            <div class="home-signin-button-bis-large">
              <div>LAST 5 GEMS</div>
              <i class="fa fa-diamond" aria-hidden="true"></i>
            </div>
          <% end %>
        </div>
        <% end %>


      <div class="bott-cont-fixed">
        <div class="display-flex">
          <div class="navbartext" style="font-size: 12px;margin-left: 0;">One unique masterpiece each day</div>
          <i class="fa fa-heart" aria-hidden="true" style="font-size: 11px;color: white;margin-left: 8px;"></i>
        </div>
      </div>


    </div>
</div>


