


<div id="home-background" style="background: linear-gradient(190deg, <%= @colors[:first] %>, <%= @colors[:second] %>);">
    <div id="cover-art-small" class="test-image" style="justify-content: center;">


        <div class="cas-body current-track" style="letter-spacing: 4px;"><%= "TODAY - #{(Date.today.strftime('%d %B')).upcase}" %></div>

        <div class="flex-width-home">
          <div class="tii-text text-medium lighter-track"><%= @track.artist.upcase %></div>
          <div class="separator"></div>
          <div class="tii-text text-medium lighter-track"><%= @track.name %></div>
          <div class="separator"></div>
          <div class="tii-text text-medium"><%= @track.year %></div>
        </div>

        <% if user_signed_in? %>
          <%= link_to track_path(@track) do %>
            <div class="home-signin-button-bis">
              <div>PLAY</div>
              <i class="fa fa-headphones" aria-hidden="true"></i>
            </div>
          <% end %>
        <% else%>

          <div class="buttons-fixed-home">
             <%= link_to new_user_registration_path do %>
              <div class="home-signin-button-bis-log">
                <i class="fa fa-user-o" aria-hidden="true"></i>
                <div>SIGNUP</div>
              </div>
            <% end %>

            <%= link_to new_user_session_path do %>
              <div class="home-signin-button-bis-log">
                <div>SIGNIN</div>
                <i class="fa fa-user" aria-hidden="true"></i>
              </div>
            <% end %>

          </div>


        <% end %>



        <div class="cas-body current-track" style="letter-spacing: 4px;margin-top: 50px;"><%= "TOMORROW - #{(@tomorrow_track.playable_at.strftime('%d %B')).upcase}" %></div>

        <div class="flex-width-home">
          <div class="tii-text text-medium lighter-track"><%= @tomorrow_track.artist.upcase %></div>
          <div class="separator"></div>
          <div class="tii-text text-medium lighter-track"><%= @tomorrow_track.name %></div>
          <div class="separator"></div>
          <div class="tii-text text-medium"><%= @tomorrow_track.year %></div>
        </div>

        <% if user_signed_in? %>
          <%= link_to week_path do %>
            <div class="home-signin-button-bis-large">
              <div>LAST 5 GEMS</div>
              <i class="fa fa-diamond" aria-hidden="true"></i>
            </div>
          <% end %>
        <% end %>


      <div class="bott-cont-fixed">
        <i class="fa fa-diamond diamond-icon" aria-hidden="true" style="font-size: 16px;"></i>
        <div class="display-flex">
          <div class="navbartext" style="font-size: 12px;margin-left: 0;">A new truly unique masterpiece each day .... for free</div>
        </div>
      </div>


    </div>
</div>


