


<div id="home-background" style="background: linear-gradient(190deg, <%= @colors[:first] %>, <%= @colors[:second] %>);">
    <div id="cover-art-small" class="test-image" style="justify-content: center;">


        <div class="cas-body" style="letter-spacing: 4px;">GEM OF THE DAY</div>

        <div class="cas-header"><%= @track.artist %></div>
        <div class="cas-body"><%= @track.name %></div>

        <% if user_signed_in? %>
          <%= link_to "listen", track_path(@track), class: "home-signin-button" %>
        <% else%>

          <div class="buttons-fixed-home">
            <div>
              <%= link_to "Sign up", new_user_registration_path, class: "home-signin-button left-button" %>
            </div>
            <div>
              <%= link_to "Sign in", new_user_session_path, class: "home-signin-button right-button" %>
            </div>
          </div>


        <% end %>



        <div class="cas-body" style="letter-spacing: 4px;margin-top: 50px;">GEM OF TOMMOROW</div>

        <div class="cas-header"><%= @tomorrow_track.artist %></div>
        <div class="cas-body"><%= @tomorrow_track.name %></div>

        <% if user_signed_in? %>
          <%= link_to "LAST 5 GEMS", week_path, class: "week-button" %>
        <% end %>


      <div class="bott-cont-fixed">
        <i class="fa fa-diamond diamond-icon" aria-hidden="true" style="font-size: 16px;"></i>
        <div class="display-flex">
          <div class="navbartext" style="font-size: 12px;margin-left: 0;">A new truly unique masterpiece each day .... for free</div>
        </div>
      </div>


    </div>
</div>


