

<div class="tracks-index-container" style="background: linear-gradient(190deg, <%= @colors[:first] %>, <%= @colors[:second] %>);">

  <div class="tracks-index-header-all">
    <div class="tr-index-text">ALL CATEGORIES</div>
  </div>

   <% @categories.each do |category| %>

    <div class="tracks-index-item">

      <div class="flex-width" style="width: 70%;">
        <div class="tii-text"><%= category.name %></div>
        <div class="separator"></div>
        <div class="tii-text"><%= "#{category.tracks.count} Tracks" %></div>
     </div>


      <div class="flex-width" style="width: 30%;">
        <%= link_to "edit", edit_category_path(category), class: "admin-index-button" %>
      </div>

    </div>

    <div class="horizontal-separator"></div>

   <% end %>

  <div class="tracks-index-item">
    <%= link_to "new", new_category_path, class: "admin-index-button" %>
  </div>

</div>
