 <% if user_signed_in? %>

        <div class="cas-body" style="letter-spacing: 4px;">GEM OF THE DAY</div>

        <div class="cas-header"><%= @track.artist %></div>
        <div class="cas-body"><%= @track.name %></div>
        <%= link_to "listen", track_path(@track), class: "home-signin-button" %>

        <div class="cas-body" style="letter-spacing: 4px;margin-top: 50px;">GEM OF TOMMOROW</div>

        <div class="cas-header"><%= @tomorrow_track.artist %></div>
        <div class="cas-body"><%= @tomorrow_track.name %></div>


      <% else %>

        <i class="fa fa-diamond diamond-icon" aria-hidden="true" style="font-size: 20px;"></i>
        <div class="display-flex">
          <div class="navbartext" style="font-size: 23px;">music</div>
          <div class="navbartext-bold" style="font-size: 23px;">gem</div>
        </div>

        <div class="display-flex">
          <div class="navbartext" style="font-size: 12px;">A new truly unique masterpiece each day .... for free</div>
        </div>


        <div>
            <%= link_to "Sign up", new_user_registration_path, class: "home-signin-button left-button" %>
        </div>
        <div>
            <%= link_to "Sign in", new_user_session_path, class: "home-signin-button right-button" %>
        </div>

      <% end %>
